html, body {
    /* border: 2px solid red; */
    margin: 0;
    height: 100%;
    /* display: flex; */
}

.bg {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(https://theme.zdassets.com/theme_assets/678183/b7e9dce75f9edb23504e13b4699e208f204e5015.png);
    background-size: cover;
    background-position: center;
}

.container {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 450px;
    /* border: 1px solid red; */
    border-radius: 10px;
    background-color: rgb(49, 51, 56);
    color: white;
    padding: 10px 30px;
}
.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome h1 {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 5px;
}

.welcome p {
    font-size: 16px;
    color: rgb(181, 186, 193);
    margin: 10px;
}

.textboxes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 20px;
}

.textboxes p {
    color: rgb(181, 186, 193);
    font-size: 14px;
    font-weight: 900;
    text-align: left;
    margin-top: 20px;
}

.textboxes input {
    background-color: rgb(30, 31, 34);
    color: rgb(181, 186, 193);
    font-family: Inconsolata;
    font-size: 20px;
    border-radius: 5px;
    width: 100%;
    height: 50px;
    border: 0px;
}

.forgot-pass {
    margin-top: 5px;
    margin-bottom: 20px;
}

.forgot-pass a {
    color: rgb(0, 168, 252);
    text-decoration: none;
}

.forgot-pass a:hover {
    color: rgb(0, 168, 252);
    text-decoration: underline;
}

.login-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(80, 92, 219);
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 0px;
    font-family: Inconsolata;
    font-size: 20px;
    text-align: center;
    padding-bottom: 5px;
}

.login-button p {
    color: white;
    font-size: 18px;
}

.login-button:hover {
    background-color: rgb(71, 82, 196);
    cursor: pointer;
}

.bottom-text {
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}

.need-help {
    margin-right: 5px;
}

.need-help p {
    /* border: 2px solid red; */
    color: rgb(148, 155, 164);
    font-size: 15px;
}

.register {
    /* border: 2px solid red; */
    /* width: 100%; */
    margin-left: 0px;
}

.register a {
    color: rgb(0, 168, 252);
    font-size: 15px;
    text-decoration: none;
}

.register:hover {
    color: rgb(0, 168, 252);
    text-decoration: underline;
}